.account-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
    border: 1px solid black;
    height: fit-content;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 10px;
}

.connection-status,
.address-display {
    font-size: 0.9rem;
    margin: 0.5rem 0;
    color: cyan;
}

.connection-status span,
.address-display span {
    color: black;
    font-weight: 500;
    margin-left: 0.25rem;
}
